@use "sass:map";

.airdrop-header {
  padding: map.get($spacers, 5);
  border: 2px solid hsla(0, 0%, 100%, 0.25);
  border-radius: $border-radius-lg;
  background-color: hsla(0, 0%, 0%, 0.5);
  backdrop-filter: blur(8px);

  h1 {
    font-family: $font-family-primary;
    color: $theme-green;
  }

  p {
    color: $theme-gray;
  }
}
