@import "bootstrap/scss/mixins/caret";

$network-menu-color: $white !default;
$network-menu-bg-color: $black !default;
$network-menu-border-color: $white !default;
$network-menu-radius: $border-radius !default;
$network-menu-zindex: $zindex-dropdown !default;

.network-menu {
  position: relative;
  display: block;
  height: 48px;
  cursor: pointer;
}

.network-menu-list {
  position: absolute;
  top: 0;
  left: 0;
  overflow: hidden;
  z-index: $network-menu-zindex;
  height: auto;
  max-height: 100%;
  margin: 0;
  padding: 0 0 0 0;
  background: $network-menu-bg-color;
  border: 1px solid $network-menu-border-color;
  border-radius: $network-menu-radius;
  list-style-type: none;
  transition: max-height 200ms ease-in-out;

  &.is-active {
    // Set a max-height enough to show all listed networks.
    // Transitioning height needs a hard number, not "auto".
    max-height: 340px;

    .network-menu-item:first-child:not(:last-child) {
      @include caret(up);
    }
  }
}

.network-menu-item {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: $input-btn-padding-y $input-btn-padding-x;

  &:first-child:not(:last-child) {
    @include caret(down);
  }
}

.network-menu-button {
  user-select: none;
  appearance: none;
  display: flex;
  align-items: center;
  color: $network-menu-color;
  background: transparent;
  border: 0;
}
