@use "sass:map";

.referral {
  @include media-breakpoint-up(lg) {
    background-image: url('../../public/images/ruler.svg');
    background-repeat: no-repeat;
    background-position: top map.get($spacers, 6) left map.get($spacers, 3);
    background-size: 9px 132px;
  }
}

.referral-title {
  font-size: 2rem;
  font-family: $font-family-primary;
  color: $theme-green;
}

.referral-subtitle {
  font-size: 1.125rem;
}
