.vault-details {
  border-top: 1px solid $vaults-table-border-color;
}

.vault-details-actions > *:first-child {
  @include media-breakpoint-up(lg) {
    border-right: 1px solid hsla(0, 0%, 100%, 0.2);
  }
}

.vault-details-highlight {
  color: $theme-green;
}
