//
// App variables
//

// Colors
// ======

// Theme
$theme-green: hsl(151, 72%, 61%);
$theme-gray: hsl(0, 0%, 50%);





// Typography
// ==========

$font-family-primary:   t26-carbon, #{inspect($font-family-monospace)};
$font-family-secondary: $font-family-sans-serif;




// Components
// ==========

$vaults-header-border-radius: $border-radius-lg;
$vaults-table-border-radius:  $border-radius-lg;
